.elements__grid {
    width: 100%;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 282px);
    grid-template-rows: repeat(2, 361px);
    column-gap: 18px;
    row-gap: 21px;
    margin: auto;
}
@media screen and (max-width: 1024px) {
    .elements__grid {
        width: 100%;
        grid-template-columns: repeat(2, 282px);
        grid-template-rows: repeat(3, 361px);
    }  
  }
@media screen and (max-width: 800px) {
    .elements__grid {
        column-gap: 18px;
    }  
  }
@media screen and (max-width: 725px) {
    .elements__grid {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
    }  
  }