.popup__close-image {
    background-image: url(../../../images/Close\ Icon.svg);
    position: absolute;
    height: 40.69827963795126px;
    width: 40.69827963795126px;
    left: 425px;
    top: -37.25px;
    box-shadow: none;
    border: none;
    background-color: black;
    background-position: center;
    border-radius: 10px;
}
.popup__close-image:hover {
    cursor: pointer;
    opacity: 0.5;
}