.profile__name {
    margin: 0;
    font-weight: 500;
    color: #FFFFFF;
    grid-column: 1/2;
    grid-row: 1/2;
    font-size: 42px;
    font-style: normal;
    font-weight: 500;
    line-height: 56px;
}