.profile__info {
    display: grid;
    grid-template-columns: 295px 24px;
    grid-template-rows: 59px 18px;
    column-gap: 24px;
    row-gap: 0;
    margin-right: 28%;
}
@media screen and (max-width: 1024px) {
    .profile__info {
        margin: auto;
        align-self: center;
        margin-bottom: 36px;
    }  
  }
@media screen and (max-width: 425px) {
    .profile__info {
        grid-template-columns: 201px 24px;
        grid-template-rows: 52px 14px;
        column-gap: 1px;
    }  
  }